@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption{ 
	margin:0; 
	padding:0; 
	border:0; 
	outline:0; 
	font-size:100%; 
	vertical-align:baseline;
}

body {font-family: 'Open Sans', sans-serif;font-weight: normal;font-size:13px;color: #222; background: url(../img/body_bg.png) repeat-x #FFF;}
body.index { border-top: 10px #95c04a solid;background:#fff;}

ul,ol {
	list-style:none;
}

img,fieldset {
	border:none;
}

a { 
	text-decoration:none;
	color: #111;
}
a:hover { color: #A7C23D;}
p { padding-bottom: 10px;}
.hidden {
	position:absolute;
	left:-9999px; 
}

.clear {
	clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.border_none {
	border: none !important;
}
h2 { font-size: 18px;}
h3 { font-size: 16px;}
/* header
-------------------------------------------*/
.page {
	overflow: hidden;
	width: 100%;
}
.wrapper{
	margin:0 auto;
	width:940px;
	position: relative;
}
/*########### Page without home #######*/
#wrapper {
	background: #FFF;
	width: 960px;
	padding: 20px;
	margin: 20px auto 0 auto;
}
#wrapper h1#logo a { margin: 45px 0 0 55px;}
#wrapper h1.right.title {
	margin: 30px 10px 0 0;
}
#wrapper .container {
	margin-top: 40px;
}
#wrapper .content {
	float: left;
	width: 620px;
	border: none;
}
.row2 {
	margin-bottom: 20px;
}
.row2 li, .row3 li{
	float: left;
	width: 100%;
	border: 1px #8e8e8e solid;
	overflow: hidden;
}
.active.row2 li, .active.row3 li,.active.row2 .col_2 { border-color: #c2ce00;}
.col_1, .col_2,.col_3 {
	float: left;
	padding: 5px;
	min-height: 100px;
	margin-bottom: -1000px;
	padding-bottom: 1005px;
}
.row2 .col_1 {
	width: 440px;
	
}
.col_2 {
	width: 155px;
	border-left:1px #8e8e8e solid;
	text-align: center;
}
.row2 li.col_tilte,.row3 li.col_tilte {
	border-bottom: none;
	height: 35px;
	line-height: 25px;
	background: #e1e1e1;
	font-weight: bold;
}
.row3 .col_1 { width: 330px;}
.row3 .col_1 h3 { margin: 5px 0; }
.row3 .product { width: 55px; float: left; }
.row3 .product_dec { width: 200px; float: left;}
.col_3 strong,.row3 .col_2 strong{ margin-top: 35px; display: block;}
.row3 .col_tilte .col_2 { margin: 0;}
.row3 .col_3 { width: 100px;border-left:1px #8e8e8e solid; text-align:center;}
li.summary {
	padding: 20px 0;
	border-top: none;
}
/*#### colum_1 #####*/
.wrapper.email { width: 525px !important; padding:0 !important; background: none !important;}
.wrapper.email #header { 
background: #FFF;
}
#wrapper.email .container {
	margin-top: 20px;
}
.wrapper.email #header h1#logo a {
	margin: 30px 0 25px 15px;
}
.wrapper.email .confirm {
	width: 525px !important;
}
.confirm {
	width: 720px;
	margin: 0 auto;
}
.colum {
	border: 1px #8E8E8E solid;
	border-top: none;
	margin-bottom: 20px;
}
.confirm .colum_3 {
	margin: 0;
	border-bottom: none;
}
.colum li{
	border-top: 1px #8E8E8E solid;
	overflow: hidden;
}
.colum_1 {
}
.confirm li.col_tilte {
	text-align: center;
}
.colum .col_tilte {
	background: #E1E1E1;
	font-weight: bold;
}
.active.colum .col_tilte {
	background: #95c04a;
	color: #FFF;

}
.colum_1 .row_1 {
	float: left;
	width: 98%;
	padding: 1%;
}
.colum_2 .row_1,.colum_2 .row_2 {
	width: 48%;
	float: left;
	padding: 1%;
}
.colum_2 .row_1 {
	border-right: 1px #8E8E8E solid;
	margin-left: -1px;
}
.colum_3 .row_1,.colum_3 .row_2,.colum_3 .row_3 {
	float: left;
	width: 31%;
	padding: 1%;
}
.colum_3 .row_2 {
	border-left: 1px #8E8E8E solid;
	border-right: 1px #8E8E8E solid;
}
.credit_card img {
	float: left;
	margin-right: 10px;
}
.confirm p strong {
	width: 100px;
	display: inline-block;
}
.confirm .credit_card p strong {
	width: 260px;
}
.wrapper.email .credit_card p strong {
	width: 120px;
}
.email #cost {
	width: 220px;
}
#cost {
    border: 2px solid #FF0000;
    padding: 3px;
    text-align: right;
    width: 250px;
}
.confirm .guaranty2 {
	float: left;
	margin-right: 10px;
}
.confirm p span {
	float: right;
	width: 244px;
	margin-bottom: 10px;
}
.confirm a {
	color: #0a3dcf;
	text-decoration: underline;
}
.confirm a:hover {
	color: #C63;
}
.confirm h3 { 
  border-bottom: 2px solid #8E8E8E;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
	font-size: 14px;
}
/*#### /colum_1 #####*/
.sub_total {
	text-align: right;
	padding: 2px 10px;
	font-weight: bold;
}
.sub_total span { width: 100px; display: inline-block; text-align: left; margin-left: 30px;}
.product {
	width: 230px;
	float: left;
	text-align: center;
}
.product_dec {
	float: right;
	padding: 10px;
	width: 140px;
}
.price {
	padding: 10px 0;
	line-height:20px;
	font-weight: bold;
}
.price strong {
	font-size: 20px;
}
.checkbox {
	float: left;
	background: url(../img/check_box.png) bottom left;
	width: 16px;
	height: 17px;
}
.sel_btn { padding: 5px 20px; cursor: pointer;border: 1px #d0d0d0 solid;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(226,226,226); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-8 */
}
.module.border_none { text-align: center;  }
.module.border_none a { display: block; margin: 10px 0;font-weight: bold; color:#222;}
.active .sel_btn {
	border: 1px #5a60ae solid;
	background: rgb(203,227,250); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiZTNmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2E2ZDRmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzhjYzlmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGY2ZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(203,227,250,1) 0%, rgba(166,212,250,1) 51%, rgba(140,201,251,1) 51%, rgba(208,246,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,227,250,1)), color-stop(51%,rgba(166,212,250,1)), color-stop(51%,rgba(140,201,251,1)), color-stop(100%,rgba(208,246,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(203,227,250,1) 0%,rgba(166,212,250,1) 51%,rgba(140,201,251,1) 51%,rgba(208,246,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(203,227,250,1) 0%,rgba(166,212,250,1) 51%,rgba(140,201,251,1) 51%,rgba(208,246,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(203,227,250,1) 0%,rgba(166,212,250,1) 51%,rgba(140,201,251,1) 51%,rgba(208,246,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(203,227,250,1) 0%,rgba(166,212,250,1) 51%,rgba(140,201,251,1) 51%,rgba(208,246,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe3fa', endColorstr='#d0f6fe',GradientType=0 ); /* IE6-8 */
}
.active .checkbox {
	background: url(../img/check_box.png) top left;
}
.active.row2 li.col_tilte,.active.row3 li.col_tilte {
	background: #95c04a;
	color: #FFF;
}
.active.row2 li.col_tilte .col_2 {
	border-color: #95c04a;
}
/*** Right side bar   *********/
.right_area {
	float: right;
	width: 320px;
}
.right_area .module{
	border: 1px #b7b7b7 solid;
	padding: 15px;
}
.right_area div.title {
	background: #c2ce00;
	padding: 10px;
	margin: 0;
}
.right_area .title h1,.right_area .title h2 {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-weight: 800;
	margin: 0;
	letter-spacing: -1px;
	text-align: center;
}
.payment { text-align: center; margin: 0 0 15px 0 }
.form {
}
.form input,.form select {
	width: 278px;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	border: 1px #9b9b9b solid;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(237,237,237,0) 13%, rgba(255,255,255,0) 28%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(13%,rgba(237,237,237,0)), color-stop(28%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(237,237,237,0) 13%,rgba(255,255,255,0) 28%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(237,237,237,0) 13%,rgba(255,255,255,0) 28%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(237,237,237,0) 13%,rgba(255,255,255,0) 28%); /* IE10+ */
background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(237,237,237,0) 13%,rgba(255,255,255,0) 28%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}
.form input.small-input {
	width: 100px;
}
.form select.expiration {
	width: 137px;
}
.form select.expiration.small-input {
	margin-right: 10px;
}
.form select {
	height: 28px;
	padding: 5px;
	width: 288px;
	border: 1px #9b9b9b solid;
}
.form p {
	position: relative;
}
em.error {
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    padding: 2px 10px;
    position: absolute;
    right: 2px;
    top: 4px;
}
.select_field:hover em.error,
p.fields:hover em.error,
.option_billing:hover em.error {
	right: 288px;
	top: 0;
	transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}
.form p.option_billing #c1 {
   float: left;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
label.terms {
    float: left;
    font-size: 12px;
    width: 261px;
}
/*########### /Page without home #######*/
#header,
.banner,
.container,
.btm_area,
.footer{
	float: left;
	width: 100%;
}
.right {
	float: right;
}
.left {
	float: left;
}
h1#logo {
}
h1#logo a {
	background: url(../img/logo.png) no-repeat;
	width: 313px;
	height: 63px;
	display: block;
	text-indent: -9999px;
	margin: 30px 0 20px 45px;
}
.banner .wrapper{
	background: url(../img/banner_btm_bg.png) repeat-x bottom;
	min-height: 475px;
}
.banner {
	background: url("../img/hom_banner_bg.png") no-repeat scroll center top / cover;
}
.h_product {
	position: absolute;
	right: 15px;
	top: 25px;
}
.guaranty {
	position: absolute;
	right: 15px;
	top: 290px;
}
.banner_content {
	width: 460px;
	padding: 30px 0 0 35px;
}
.title {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px;
	font-family: 'helvetica', sans-serif;
}
h2.title {
	font-size: 24px;
}
.banner_content ul {
	margin: 20px 0;
}
.banner_content ul li {
	background: url(../img/b_arrow.png) no-repeat left center;
	padding: 0 0 0 55px;
	margin: 15px 0;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 24px;
}
.banner_content ul li p{
	font-weight: normal;
	font-size: 16px;
}
.button,.form input.button {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	padding: 10px 20px;
	color: #FFF;
	background:#ff640f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-box-shadow: 0 4px 0 0px #dee0dc, 0px 2px 0px 0px #fed20c inset;
	box-shadow: 0 4px 0 0px #dee0dc, 0px 2px 0px 0px #fed20c inset;
	text-shadow: 0px 1px 0px #999999;
	filter: dropshadow(color=#999999, offx=0, offy=1);

}
.button:hover,.form input.button:hover {
	background: #578801;
	color: #FFF;
}
.form input.button {
	padding: 7px 20px;
	color: #FFF;
	background:#ff640f;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height: auto;
	border: none !important;
	box-shadow: none !important;
}
.button span {
	background: url(../img/bu_arrow.png) no-repeat right;
	padding:0 25px 0 10px;
}
.form input.button.rush {
	font-size: 30px;
}
.content {
	border: 1px #b7b7b7 solid;
}
.top_content {
	padding: 10px;
	margin: 20px;
	background: #e8f0cc;
}
.top_content img {
	float: left;
	margin: 0 20px 0 0;
}
.top_content p {
	padding: 10px;
}
.content_inner {
	padding: 15px;
	position: relative;
	border-top: 1px #b7b7b7 solid;
	min-height: 436px;
}
.con_inner_img {
	position: absolute;
	right: 0;
	top:0;
	z-index: -1;
}
.afte_befor {
 background: url("../img/after_befor_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 134px;
    padding: 2px 107px 22px 14px;
    position: absolute;
    right: 157px;
    top: 80px;
    width: 225px;
}
.afte_befor img {
	margin-top: -10px;
}
.afte_befor p {
	padding: 2px;
}
.inner2 {
	width: 500px;
}
inner2 ul{
}
.inner2 ul li {
	background: url(../img/aroow2.png) no-repeat 0 3px;
	padding: 0 0 15px 25px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.home_content .content_inner{
	padding-bottom: 0;

}
.home_content h1.title.bg {
	background: #c2ce00;
	margin: 0;
	padding: 0;
	color: #FFF;
	text-align: center;
	letter-spacing: 2px;
	line-height: 60px;
}
/*################## Btm Area ################*/
.btm_area {
	background: #95c04a;
	margin: 20px 0 0 0;
}
.btm_area .wrapper {
	background: url(../img/btm_bg.jpg) no-repeat;
	min-height: 400px;
}
.btm_product {
	position: absolute;
	width: 252px;
	right: 35px;
	top: 110px;
}
.btm_area .guaranty {
	right: -15px;
	top: 275px;
}
.inner3 {
	width: 605px;
	margin-left: 270px;
	padding: 15px;
}
.inner3 .title {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.logo2 {
	margin: 75px 0 75px 40px;
}
.inner3 .button { margin-left: 35px;}
.footer { text-align: center; padding: 20px 0 50px 0; color:#333333;}
.footer a { color: #111;}
.footer a:hover { color: #A7C23D}
/*popup and form valitation */

.fade{
	opacity:0;
	-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;
	-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear
	}
.fade.in{opacity:1}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80)}
.modal{position:fixed;top:10%;left:50%;z-index:1050;width:526px;margin-left:-213px;background-color:#fff;}

.modal.fade{-webkit-transition:opacity 0.3s linear,top 0.3s ease-out;-moz-transition:opacity 0.3s linear,top 0.3s ease-out;-o-transition:opacity 0.3s linear,top 0.3s ease-out;transition:opacity 0.3s linear,top 0.3s ease-out;top:-25%}

.modal.fade.in{top:10%}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee}
.modal-header .close{margin-top:2px}
.modal-header h3{margin:0;line-height:30px}
.modal-body{position:relative;overflow-y:auto;}
.modal-form{margin-bottom:0}
#close { border: none;background:url(../img/x.png) no-repeat; width:15px; height:15px; display:inline; z-index:3200; position:absolute; top:18px; right:10px; cursor:pointer;}
.modal_logo { padding: 20px; border-bottom: 5px #feba04 solid;}
.popup-content { padding: 20px; min-height: 400px; font-size:12px; font-family: Arial, Helvetica, sans-serif; line-height: normal;}
.popup-content h2 { color: #578801; font-size: 16px; padding-bottom: 10px; }

.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:11px;line-height:1.4;opacity:0;filter:alpha(opacity=0)}
.tooltip.in{opacity:0.8;filter:alpha(opacity=80)}
.tooltip.top{margin-top:-3px;padding:5px 0}
.tooltip.right{margin-left:3px;padding:0 5px}
.tooltip.bottom{margin-top:3px;padding:5px 0}
.tooltip.left{margin-left:-3px;padding:0 5px}
.tooltip-inner{max-width:200px;padding:8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}
.hide{display:none}
.show{display:block}.invisible{visibility:hidden}
.cvvpop {
	margin: 15px 0 0 10px;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
 .popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;
 background-color:#f5f5f5;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #ccc;
 border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);white-space:normal}
 .popover.top{margin-top:-10px}
 .popover.right{margin-left:10px}
 .popover.bottom{margin-top:10px}
 .popover.left{margin-left:-10px}
 .popover-title{margin:0;padding:8px 14px;font-size:14px;font-weight:normal;line-height:18px;background-color:#ededed;border-bottom:1px solid #e1e1e1;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}.popover-title:empty{display:none}
 .popover-content{padding:9px 14px}
 .popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
 .popover .arrow{border-width:11px}
 .popover .arrow:after{border-width:10px;content:""}
 .popover.top .arrow{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999;border-top-color:rgba(0,0,0,0.25);bottom:-11px}
 .popover.top .arrow:after{bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#f5f5f5}
 .popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,0.25)}
 .popover.right .arrow:after{left:1px;bottom:-10px;border-left-width:0;border-right-color:#f5f5f5}
 .popover.bottom .arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);top:-11px}
 .popover.bottom .arrow:after{top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#f5f5f5}
 .popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,0.25)}
 .popover.left .arrow:after{right:1px;border-right-width:0;border-left-color:#f5f5f5;bottom:-10px}
 .cvv{width:225px;height:127px;background:url(../img/cvv2.jpg) no-repeat;margin:0 auto;text-indent:100%;white-space:nowrap;overflow:hidden}
 
 /* #######################################*/
 #mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
  opacity: 0.8;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:526px;
  height:400px;
  display:none;
  z-index:9999;
}
.opacity {
	width: 100%; 
	height: 100%; 
	display: none; 	
}

.intro_box {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    position: relative;
    top: 0;

}
#enter_close {
    background:url(../img/x.png) no-repeat;
    border: none;
    cursor: pointer;
    height: 15px;
    right: 10px;
    position: absolute;
    top: 10px;
    width: 14px;
}

#enter_close:hover {
	
}